.body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 50vh;
    gap: 30px;
    margin-top: 10px;
    margin-bottom: 20px;
}
.body-content{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 25px;
    flex-direction: column;
    width: 400px;
    padding: 20px 5px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(20, 20, 20, 0.2);
    
}
    
.box{
    height: 150px;
    width: 300px;
    border: none;
    border-radius: 5px;
}
button{
    padding: 30px 35px;
    border-radius: 5px;
    border: none;
}
.cancelBtn{
    padding: 10px 15px;
    background-color: green;
    color: white;
    border: none;
}
.score-and-cancel-button{
    display: flex;
    justify-content: space-between;
    gap: 180px;
}
.colorOptions{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
}
p{
    font-size: 24px;
    font-weight: bolder;
}
h2{
    font-size: 32px;
    text-align: center;
}
span{
    height: 20px;
    font-size: 20px;
    
}


@media screen and (max-width: 400px) {
    h2{
        font-size: 24px;
        text-align: center;
    }
}